.review-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .review {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 150px;
    background-color: #fff;
    border:#3F37C9 2px solid;
    margin: 2em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .review-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 175px;
    height: 148px;
    background-color: #3F37C9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .review-image p {
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
  
  #review {
    align-self: center;
    width: 40%;
    margin-top: .5em;
    margin-bottom: .2em;
  }
  #stars {
    align-self: center;
    width: 30%;
    margin-top: -.5em;
    margin-bottom: .5em;
  }
  
  
  .review-text {
    width: 60%;
    height: auto;
    text-align: center;
    font-weight: 600;
    margin: 2em;
  }
  
  
  