#logo {
  margin-left: 5em;
  width: 45%
}

#nav-logo {
  width: 12%;
  margin-top: 1em;
  margin-left: 3em;
}

@media (max-width: 1050px) {
  #nav-logo {
    width: 12%;
    margin-top: 1em;
    margin-left: 1em;
  }
  }

  @media (max-width: 465px) {
    #nav-logo {
      width: 12%;
      margin-top: 1em;
      margin-left: 1em;
    }

   button#test.navbar-toggler.collapsed {
    margin-left: -4em;
   }
    }

.navbar {
  display: flex;
  width: 100%;
  background-color: #000;
  height: 2.5em;
  align-content: center;
}


#nav {
  color: #fff;
  font-size: 25px;
  padding: 3em;
}

#link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin: 1em;
  text-align: center;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: black;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(100, 100, 100);
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: black;
}

button {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5em;
  margin: 1em;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.offcanvas-body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

#link:hover {
  color:rgb(0, 217, 255);
}




/* offCanvas Nav Bar */

#container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: .5em;
  margin-top: .5em;
  border-bottom: 1px #4895EF solid;
}

#test {
  color:#fff;
  margin-top: 1em;
}

#test:hover {
  background-color: #fff;
  border: 1px solid #000;
}

span.navbar-toggler-icon:hover {
  background-color: #fff;
}

.btn-close:hover{
  background-color: transparent;
}

.nav-icons {
  width: 100%;
  

}


#profile {
  width: 14%;
  margin: 1em;

  
}

#cart {
  width: 11%;
  margin: 1em;
}

/* offCanvas Nav Bar Ends Here */




/* Main Page */

.main { 
  display: flex;
  width: 100%;
  margin-top: 4em;
  height: auto;
  border-bottom: 1px solid #4895EF;
}


@media (max-width: 1050px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
   align-items: center;
   
  }

  .main-image {
    width: 90%;
    margin-bottom: 2em;
   
  }

  .main-content {
    width: 100%;
    margin-bottom: 2em;
    margin-left: 2em;
    text-align: center;
   
  }

  .main-content h1 {
    font-size: 65px;
    text-align: center;
  }
  
  }


.main-content {
  justify-content: center;
  width: 60%;
  text-align: center;
  margin-right: 5em;
  margin-bottom: 2em;
}

.main-image {
  width: 60%;
  margin-bottom: 2em;
  margin-left: 5em;
  margin-right: 2em;
}

.main-content h1 {
  font-size: 90px;
  text-align: center;
}


@media (max-width: 1050px) {
  .main-content h1 {
    font-size: 60px;
    text-align: center;
    margin-left: 1em;
  }


#main-button {
  width: 15em;
  border-radius: 4em;
  margin-top: 3em;
  margin-left: 3.5em;
  padding: 1em;
  align-self: center;
  background-color: #3F37C9;
  color: #fff;
}
  }


#main-image {
  width: 85%;
}


#main-button {
  width: 15em;
  border-radius: 4em;
  margin-top: 3em;
  padding: 1em;
  align-self: center;
  background-color: #3F37C9;
  color: #fff;
  font-weight: 700;
 
}



/* End of Main Page */



/* Product Section */

.product-container {
  width: 100%;
  height: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  
}

@media (max-width: 1050px) {
  .products {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
  }

  .product-card {
    width: 95%;
    text-align: center;
    border-radius: .5em;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
   }
  }
  
  @media (max-width: 1150px) {
    .products {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      margin-bottom: 2em;
    }
  
    .product-card {
      margin: 2em;
      text-align: center;
      border-radius: .5em;
      box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
     }
    }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}


.product-card {
 width: 14rem;
 height: auto;
 margin: 1em;
 text-align: center;
 border-radius: .5em;
 box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

.product-title {
  width: 100%;
  margin-bottom: 2em;
}

#product-title {
  font-weight: 700;
}

#item {
  width: 60%;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
}

#product-button {
  width: 100%;
  margin-top: 1em;
  background-color: #4895EF;
}



/* End of Slider Section */


/* Call-To-Action Homepage */

.cta-one {
  width: 100%;
  height: auto;
  background-color: #4CC9F0;
  margin-bottom: 2em;
  padding: 3em;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

  

  .cta-one h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-bottom: .5em;
  
  }

.cta-one button {
  width: 11em;
  border: 2px solid #fff;
  background-color: #4CC9F0;
  border-radius: 3em;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  
 
}
/* End Call-To-Action Homepage */


/* Reviews - Homepage Section */

.review-container {
  width: 100%;
  height: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 1150px) {
  .box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

.review-boxes {
  width:15em;
  height: auto;
  border: 2px solid #3F37C9;
  margin: 4em;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  text-align: center;
  align-items: center;
}
  }


.review-boxes {
  width:15em;
  height: auto;
  border: 2px solid #3F37C9;
  margin: 4em;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  text-align: center;
}

.review-boxes p {
  font-weight: 700;
  padding: .5em;
}

#reviewer {
  align-self: center;
  width: 40%;
  margin-top: 1em;
  margin-bottom: .5em;
}

#stars {
  margin-bottom: 1em;
}

/* End of Reviews - Homepage Section */


/* Footer Section */

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-top: 1px solid #4895EF;
}


@media (max-width: 1150px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-top: 1px solid #4895EF;
  }
}

.foot-box {
  width: 12em;
  height: auto;
  text-align: center;
  margin: 2em;
}

#second {
  width: 100%;
}

.footer h4 {
  font-weight: 700;
}

/* End of Footer Section */




/* BEGINNING OF CODE FOR PAGES */


/* Shop Page */

.filter-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-top: 1px solid #4895EF;
  border-bottom: 1px solid #4895EF;
  padding: .3em;
}

.filter-container h3 {
  font-size: 20px;
  font-weight: 700;
}

.page-title {
  width: 100%;
  margin-top: 7em;
  margin-bottom: 5em;
}

.page-title h1 {
  text-align: center;
  font-size: 65px;
  font-weight: 700;
}

.categories {
  width: 25%;
  align-items: flex-end;
  margin-left: 10em;
}

.sort-by {
  width: 25%;
  margin-left: 40em;
}



@media (max-width: 1050px) {
  .sort-by {
    width: 25%;
    margin-left: 5em;
  }

  .categories {
    width: 25%;
    align-items: flex-end;
    margin-left: 7em;
  }
 
  }

.banner {
  width: 100%;
  height: 7em;
  background-color: #4CC9F0;
  margin-top: 5em;
  text-align: center;
  padding-top: 1em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.banner h1 {
  font-size: 65px;
  color: #fff;
  font-weight: 700;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: -4em;
}

#shop-button {
  width: 15em;
  border-radius: 4em;
  margin-top: 3em;
  padding: 1em;
  align-self: center;
  background-color: #3F37C9;
  color: #fff;
}


/* End Shop Page */


/* Call to Action - Shop Page */


.cta-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #4CC9F0;
  margin-bottom:4em;
}

@media (max-width: 700px) {
  
.cta-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #4CC9F0;
  margin-bottom:4em;
  padding: 1em;
}
.cta-two h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-bottom: .5em;

}

.cta-image {
 display: none;

}
.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 1em;
  text-align: center;


}
}


.cta-image {
  width: 45%;
  margin: 1em;
}

.cta-text {
  width: 45%;
  margin: 1em;
  text-align: center;


}

.cta-two h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  margin-bottom: .5em;

}

.cta-two button {
width: 11em;
border: 2px solid #fff;
background-color: #4CC9F0;
border-radius: 3em;
color: #fff;
font-size: 24px;
font-weight: 500;


}

/* End of Call to Action - Shop Page */



/* Call to Action - Dog Food Page */


.cta-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #3F37C9;
  margin-bottom:4em;
}

@media (max-width: 700px) {
  
.cta-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #3F37C9;
  margin-bottom:4em;
  padding: 1em;
}
.cta-three h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-bottom: .5em;

}

.cta-image {
 display: none;

}
.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 1em;
  text-align: center;


}
}


.cta-image {
  width: 45%;
  margin: 1em;
}

.cta-text {
  width: 45%;
  margin: 1em;
  text-align: center;


}

.cta-three h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  margin-bottom: .5em;

}

.cta-three button {
width: 11em;
border: 2px solid #fff;
background-color: #3F37C9;
border-radius: 3em;
color: #fff;
font-size: 24px;
font-weight: 500;


}

/* End of Call to Action - Dog Food Page */


/* Product Page */


@media (max-width: 800px) {

  .product-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-bottom: #3F37C9 1px solid;
    margin-top: 4em;
    margin-bottom: 2em;
  }

  .product-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    margin-bottom: 2em;
  }

  }


.product-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  border-bottom: #3F37C9 1px solid;
  margin-top: 7em;
  margin-bottom: 4em;
}

.product-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

#example {
  width: 70%;
  
}

.product-description {
  width: 60%;
  height: auto;
  text-align: center;
}


.product-description h3 {
  font-weight: 700;
  margin-bottom: 1em;
}
.product-description h4 {
  font-weight: 700;
  margin-bottom: 1em;
}

.product-description p {
  margin: 2em;
  font-size: 14px;
}

#qty {
  width: 2em;
  margin: 1em;
}

#qty-label {
  font-weight: 700;
}

.product-page-button {
text-align: center;
}

#add-to-cart {
  width: 15em;
  border-radius: 4em;
  padding: 1em;
  align-self: center;
  background-color: #3F37C9;
  color: #fff;
  font-weight: 700;
  margin: 2em 0em;
}

.related-product-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #4ccaf0a5;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.related-products {
  width: 95%;
  height: auto;
  margin-bottom: 1em;
}

.related-title h1{
  color: #000;
  margin-top: 1em;
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.review {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 150px;
  background-color: #fff;
  border:#3F37C9 2px solid;
  margin: 2em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.review-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 148px;
  background-color: #3F37C9;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.review-image p {
  color: #fff;
  text-align: center;
  font-weight: 700;
  
}

#review {
  align-self: center;
  width: 40%;
  margin-top: .5em;
  margin-bottom: .2em;
}
#stars {
  align-self: center;
  width: 30%;
  margin-top: -.5em;
  margin-bottom: .5em;
}


.review-text {
  width: 60%;
  height: auto;
  text-align: center;
  font-weight: 600;
  margin: 1em;
  font-size: 13px;
  padding: .2em;
}



/* End of Product Page */




/* END OF CODE FOR PAGES */